# Create a .env file w. these values populated as approp.


# Location of the domain that the backend runs on
VITE_BACKEND_DOMAIN=http://localhost:5231/
# uri of the API endpoints
VITE_API_URI=api/

# uri of the user's account pages
VITE_ACCOUNT_URI=Identity/Account/Manage